// @color-1:lightgray;
// .admin{
//   background-color: @color-1;
// }
.header{
  color: #fff;
}
.logo{
  color:rgba(255,255,255,0.65);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
