.header{
  color: #fff;
}
.logo{
  color:rgba(255,255,255,0.65);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.login{
  color:#fff!important;
}
